In [1]:
import numpy as np
arr3 = np.arange(1,19).reshape(3, 2, 3)
arr3

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18]]])

In [ ]:
scores = np.random.randint(30, 101, size=(3, 2, 4), dtype='int8')

studen_mean = scores.mean(axis=2)
print(studen_mean)
subject_mean = scores.mean(axis=(0,1))
print(subject_mean)

for cls in range(scores.shape[0]):
    print(f'{cls + 1} ë°˜')
    for student in range(scores.shape[1]):
        kor, eng, math, music = scores[cls][student]
        average = scores[cls][student].sum() / (scores.shape[2])
        print(f'{kor}, {eng}, {math}, {music}, avg : {average}')

In [16]:
a=np.array([[1,2],[5,3]])
b=np.array([[0,1],[1,0]])
print(a@b)

[[2 1]
 [3 5]]

In [20]:
import pandas as pd
inputdict = {
    'c_index': [1,2,3],
    'name': ['kim','woo','doo'],
    'address': ['dae','jeon','se']
}
dict = pd.DataFrame(inputdict)
dict[dict['c_index'] > 2]['name']
cpu_data = pd.read_excel('../data/cpu_usage_list.xlsx')
cpu_data.tail(3)

,Hostname,IP,Date Time,CPU Cores,Usage(%),Confirmed,Comment
7439,rhel9,192.168.219.209,2026-01-22 11:50:34,4,0.05,Yes,NaN
7440,rhel9,192.168.219.209,2026-01-22 11:40:34,4,0.05,Yes,NaN
7441,rhel9,192.168.219.209,2026-01-22 11:30:34,4,0.24,Yes,NaN

In [30]:
cpu_data[cpu_data['Usage(%)'] > 1][['Date Time', 'IP','Hostname','Usage(%)']].count()

Date Time    112
IP           112
Hostname     112
Usage(%)     112
dtype: int64